{% extends "base_auth.html" %}
{#{% import "bootstrap/wtf.html" as wtf %}#}
{% block menu %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class = "alert alert-warning">
                <button type="button" class="close" data-dismiss ="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <h2>更改密码</h2>
        <form class="form-horizontal" action="" method="post" role="form">
                {{form.hidden_tag()}}
                <div class="input-prepend" title="oldpassword">
                    <span class="add-on"><i class="halflings-icon lock"></i></span>
                    <input class="input-large span10" name="oldpassword" id="oldpassword" type="password" placeholder="请输入原密码"/>
                </div>

                <div class="clearfix"></div>

                <div class="input-prepend" title="newpassword">
                    <span class="add-on"><i class="halflings-icon lock"></i></span>
                    <input class="input-large span10" name="newpassword" id="newpassword" type="password" placeholder="输入新密码"/>
                </div>
                <div class="clearfix"></div>

                <div class="input-prepend" title="newpassword2">
                    <span class="add-on"><i class="halflings-icon lock"></i></span>
                    <input class="input-large span10" name="newpassword2" id="newpassword2" type="password" placeholder="重复新密码"/>
                </div>

                <div class="clearfix"></div>

                <div class="button-login">
                    <button type="submit" class="btn btn-primary" id="submit_change">确定</button>
                </div>
                <div class="clearfix"></div>
        </form>
{% endblock %}
{##}
{#{% block menu %}#}
{#<div id="tooplate_menu">#}
{#            <ul>#}
{#                <li><a href="../index" class="current">主页</a></li>#}
{#                <li><a href="/login" class ="current">登陆</a></li>#}
{#            </ul>#}
{#        </div> <!-- end of tooplate_menu -->#}
{#{% endblock %}#}
{#{% block mid_title %}#}
{#    <div class="container">#}
{#        {% for message in get_flashed_messages() %}#}
{#            <div class = "alert alert-warning">#}
{#                <button type="button" class="close" data-dismiss ="alert">&times;</button>#}
{#                {{ message }}#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
{#{% endblock %}#}
{#{% block main %}#}
{#     <link rel="stylesheet" href="{{ url_for("static",filename = "css/main_content.css") }}">#}
{#    <body>#}
{#    <div class="main-content">#}
{#        {{ wtf.quick_form(form) }}#}
{#    </div>#}
{#    </body>#}
{#{% endblock %}#}
