.header {
    background: gray;
    /*上右下左*/
    padding: 10px 10px 10px 50px;
    height: 85px;
    /*阴影*/
    -webkit-box-shadow: 0 0 22px 0 rgba(50, 50, 50, 1);
    -moz-box-shadow:    0 0 22px 0 rgba(50, 50, 50, 1);
    box-shadow:         0 0 22px 0 rgba(50, 50, 50, 1);
}
    img{
        float: left;
        margin: 10px 10px 10px 10px;
        -webkit-box-shadow: 0 0 22px 0 rgba(50, 50, 50, 1);
        -moz-box-shadow:    0 0 22px 0 rgba(50, 50, 50, 1);
        box-shadow:         0 0 22px 0 rgba(50, 50, 50, 1);
}

.nav{
    padding-left: 20px;
    margin: 5px 0 0 0;
    text-align: center;
    overflow: hidden;
}

    li{
        float: left;
        list-style: none;
        padding: 0 10px;
        line-height: 65px;
    }
    li a{
        color: white;
        font-family: 华文仿宋;
        font-size: 25px;
    }