{% extends "base.html" %}
{% block menu %}
    <div id="tooplate_menu">
            <ul>
                <li><a href="/index" class="current">主页</a></li>
                <li><a href="/main">公司简介</a></li>
                <li><a href="/product">产品介绍</a></li>
                <li><a href="/about">关于我们</a></li>
                <li><a href="/auth/login">登陆</a></li>
                <li class="last"><a href="/download">下载</a></li>
            </ul>
        </div> <!-- end of tooplate_menu -->
{% endblock %}
{% block mid_title %}
    找不到页面
{% endblock %}
{% block main %}
     <link rel="stylesheet" href="{{ url_for("static",filename = "css/main_content.css") }}">
    <body>
    <div class="main-content">
        404
    </div>
    </body>
{% endblock %}

{#{% extends "base.html" %}#}
{#{% block title %}#}
{#    <head>#}
{#        <title>这是index界面</title>#}
{#    </head>#}
{#{% endblock %}#}
{#{% block main %}#}
{#    <link rel="stylesheet" href="{{ url_for("static",filename = "css/main_content.css") }}">#}
{#    <body>#}
{#    <div class="main-content">#}
{#        这是HTML文件中出现的文字#}
{#        <p>用户名:{{username}}</p>#}
{#        <p>密码:{{password}}</p>#}
{#        <p>性别:{{gender}}</p>#}
{#        <p>年龄:{{age}}</p>#}
{#        {% if age|int >= 18 %}#}
{#            <p>朋友:{{frind["name"]}}</p>#}
{#        {% else %}#}
{#        {% endif %}#}
{#    </div>#}
{#    </body>#}
{#{% endblock %}#}

{#	<link href={{ url_for("static",filename = "css/font.css")}} rel='stylesheet' type='text/css'>#}
{#    <link href={{ url_for("static",filename = "css/bootstrap.css")}} rel="stylesheet">#}
{#    <link href={{ url_for("static",filename = "css/chosen.css")}} rel="stylesheet">#}
{#    <link href={{ url_for("static",filename = "css/elfinder.min.css")}} rel="stylesheet">#}
{#    <link href={{ url_for("static",filename = "css/elfinder.theme.css")}} rel="stylesheet">#}
{#    <link href={{ url_for("static",filename = "css/jquery.cleditor")}} rel="stylesheet">#}
{#    <link href={{ url_for("static",filename = "css/jquery.gritter")}} rel="stylesheet">#}
{#    <link href={{ url_for("static",filename = "css/jquery.iphone.toggle")}} rel="stylesheet">#}
{#    <link href={{ url_for("static",filename = "css/jquery.noty")}} rel="stylesheet">#}
{#    <link href={{ url_for("static",filename = "css/jquery-ui-1.8.21.custom")}} rel="stylesheet">#}
{#    <link href={{ url_for("static",filename = "css/halflings.css")}} rel='stylesheet' type='text/css'>#}
{#    <link href={{ url_for("static",filename = "css/style-forms.css")}} rel='stylesheet' type='text/css'>#}
{#    <link href={{ url_for("static",filename = "css/glyphicons.css")}} rel='stylesheet' type='text/css'>#}
{#    <link href={{ url_for("static",filename = "css/noty_theme_default.css")}} rel='stylesheet' type='text/css'>#}
{#    <link href={{ url_for("static",filename = "css/uniform.default.css")}} rel='stylesheet' type='text/css'>#}
{#    <link href={{ url_for("static",filename = "css/uploadify.css")}} rel='stylesheet' type='text/css'>#}
{#    <link href={{ url_for("static",filename = "css/fullcalendar.css")}} rel='stylesheet' type='text/css'>#}
{#    <link href={{ url_for("static",filename = "css/font-awesome.min.css")}} rel='stylesheet' type='text/css'>#}
{#    <link href={{ url_for("static",filename = "css/font-awesome-ie7.min.css")}} rel='stylesheet' type='text/css'>#}