{% extends "base.html" %}
{% block menu %}
    <div id="tooplate_menu">
            <ul>
                <li><a href="/index">主页</a></li>
                <li><a href="/main">公司简介</a></li>
                <li><a href="/product">产品介绍</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/about">关于我们</a></li>
                    <li><a href="auth/logout">退出登陆</a></li>
                {% else %}
                    <li><a href="/about">关于我们</a></li>
                    <li><a href="auth/login">登陆注册</a></li>
                {% endif %}
                <li class="last"><a href="/download" class="current">下载</a></li>
            </ul>
        </div> <!-- end of tooplate_menu -->
{% endblock %}
{% block mid_title %}
    欢迎来到下载界面
{% endblock %}
{% block main %}
     <link rel="stylesheet" href="{{ url_for("static",filename = "css/main_content.css") }}">
    <body>
    <div class="main-content">
        这是HTML文件中出现的文字
    </div>
    </body>
{% endblock %}

{#{% extends "base.html" %}#}
{#{% block title %}#}
{#    <head>#}
{#        <title>这是index界面</title>#}
{#    </head>#}
{#{% endblock %}#}
{#{% block main %}#}
{#    <link rel="stylesheet" href="{{ url_for("static",filename = "css/main_content.css") }}">#}
{#    <body>#}
{#    <div class="main-content">#}
{#        这是HTML文件中出现的文字#}
{#        <p>用户名:{{username}}</p>#}
{#        <p>密码:{{password}}</p>#}
{#        <p>性别:{{gender}}</p>#}
{#        <p>年龄:{{age}}</p>#}
{#        {% if age|int >= 18 %}#}
{#            <p>朋友:{{frind["name"]}}</p>#}
{#        {% else %}#}
{#        {% endif %}#}
{#    </div>#}
{#    </body>#}
{#{% endblock %}#}
