{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% block menu %}
<div id="tooplate_menu">
            <ul>
                <li class = "last"><a href="../index" class="current">主页</a></li>
{#                <li class="last"><a href="register">注册</a></li>#}
            </ul>
        </div> <!-- end of tooplate_menu -->
{% endblock %}
{% block mid_title %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class = "alert alert-warning">
                <button type="button" class="close" data-dismiss ="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{#    {% endif %}#}
{% endblock %}
{% block main %}
     <link rel="stylesheet" href="{{ url_for("static",filename = "css/main_content.css") }}">
    <body>
    <div class="main-content">
        {{ wtf.quick_form(form) }}
        <p>
            <a href="{{ url_for("auth.register_menu") }}">
                点击此处注册新用户
            </a>
        </p>
    </div>
    </body>
{% endblock %}
