<!DOCTYPE html>
<html>
<head>
<title>净味宝注册界面</title>
<link rel="stylesheet" href="{{ url_for("static",filename = "css/style.css") }}" type='text/css'/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="App Loction Form,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"./>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfonts-->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//webfonts-->
</head>
<body>
	<h1>净味宝助手登陆</h1>
		<div class="app-location">
{#			<h2></h2>#}
			<div class="location"><img src="../static/css/images/Logo.png" class="img-responsive" alt="" /></div>
			<form action="" method="post" class="form" role="form">
                {{form.hidden_tag()}}
{#                <input type="text" class="text" value="邮箱地址" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'E-mail address';}" >#}
                <input id="emai"  name="email"  required type="text" placeholder="邮箱地址">
                <input id ="username" name ="username" required type = "text" placeholder="输入用户名">
                <input id ="password" name ="password" required type = "password" placeholder="输入密码">
                <input id ="password2" name ="password" required type = "password" placeholder="重复密码">
				<input id = "submit_regist" name="submit_regist" type="submit" value="注册" >
				<div class="clear"></div>
			</form>
		</div>
	<!--start-copyright-->
   		<div class="copy-right">
				<p>Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家"></a> - Collect from <a href="http://www.cssmoban.com/" title="" target="_blank"></a></p>
		</div>
	<!--//end-copyright-->
</body>
</html>