{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
{% block menu %}
<div id="tooplate_menu">
            <ul>
                <li><a href="../index" class="current">主页</a></li>
                <li><a href="/login" class ="current">登陆</a></li>
            </ul>
        </div> <!-- end of tooplate_menu -->
{% endblock %}
{% block mid_title %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class = "alert alert-warning">
                <button type="button" class="close" data-dismiss ="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block main %}
     <link rel="stylesheet" href="{{ url_for("static",filename = "css/main_content.css") }}">
    <body>
    <div class="main-content">
        {{ wtf.quick_form(form) }}
    </div>
    </body>
{% endblock %}
